<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../Content/CSS/main-ltr.css">
    <link rel="stylesheet" href="../Content/CSS/slick.css">
    <link rel="stylesheet" href="../Content/CSS/bootstrap.min.css">
    <title>Courses</title>
</head>
<body>
      <!-- Header -->
  <section class="bg">
    <section class="top-header">
        <div class="contact">
          <div class="container">
              <div class="position">
                <div class="location">
                    <svg xmlns="http://www.w3.org/2000/svg" width="13.902" height="16.025" viewBox="0 0 13.902 16.025">
                        <g id="pin-3" transform="translate(-1)">
                          <path id="Path_1" data-name="Path 1" d="M8,0A6.957,6.957,0,0,0,1,7a6.722,6.722,0,0,0,2.1,5c.1.1,4.1,3.7,4.2,3.8a1.049,1.049,0,0,0,1.3,0c.1-.1,4.2-3.7,4.2-3.8a6.722,6.722,0,0,0,2.1-5A6.812,6.812,0,0,0,8,0ZM8,9a2,2,0,1,1,2-2A2.006,2.006,0,0,1,8,9Z" fill="#212529"/>
                        </g>
                      </svg>
                      <p>1600 Amphitheatre Parkway, CA 94043</p>
                </div>
                <div class="massage">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14">
                        <g id="letter" transform="translate(0 -1)">
                          <path id="Path_2" data-name="Path 2" d="M14,1H2A2,2,0,0,0,0,3v.4L8,7.9l8-4.4V3A2,2,0,0,0,14,1Z" fill="#212529"/>
                          <path id="Path_3" data-name="Path 3" d="M7.5,9.9,0,5.7V13a2,2,0,0,0,2,2H14a2,2,0,0,0,2-2V5.7L8.5,9.9A1.243,1.243,0,0,1,7.5,9.9Z" fill="#212529"/>
                        </g>
                      </svg>
                      <p>vctung@outlook.com</p>
                </div>
              </div>
                <div class="social">
                    <svg id="Component_5_2" data-name="Component 5 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <rect id="Rectangle_6" data-name="Rectangle 6" width="24" height="24" fill="rgba(255,255,255,0)"/>
                        <g id="logo-fb-simple" transform="translate(4 4)">
                          <path id="Path_4" data-name="Path 4" d="M6.023,16,6,9H3V6H6V4c0-2.7,1.672-4,4.079-4a22.346,22.346,0,0,1,2.434.124V2.945h-1.67c-1.31,0-1.563.622-1.563,1.535V6H13L12,9H9.28v7Z" fill="#212529"/>
                        </g>
                      </svg>
                      <svg id="Component_6_2" data-name="Component 6 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <rect id="Rectangle_10" data-name="Rectangle 10" width="24" height="24" fill="rgba(255,255,255,0)"/>
                        <g id="logo-pinterest" transform="translate(4 4)">
                          <path id="Path_8" data-name="Path 8" d="M8,0A8.024,8.024,0,0,0,0,8a7.838,7.838,0,0,0,5.1,7.4,8.845,8.845,0,0,1,0-2.3c.1-.6.9-4,.9-4A2.653,2.653,0,0,1,5.8,8c0-1.1.7-2,1.5-2a.972.972,0,0,1,1,1.1,11.98,11.98,0,0,1-.7,2.7,1.125,1.125,0,0,0,1.2,1.4c1.4,0,2.5-1.5,2.5-3.7A3.206,3.206,0,0,0,8,4.2,3.44,3.44,0,0,0,4.4,7.7,3.216,3.216,0,0,0,5,9.5v.4a5.073,5.073,0,0,0-.2.9c0,.1-.1.2-.3.1A3.577,3.577,0,0,1,2.9,7.8C2.9,5.3,4.7,3,8.2,3a4.662,4.662,0,0,1,4.9,4.6c0,2.8-1.7,5-4.2,5a2,2,0,0,1-1.8-.9s-.4,1.5-.5,1.9a10.243,10.243,0,0,1-1,2.1A9.863,9.863,0,0,0,8,16,8,8,0,0,0,8,0Z" fill="#212529"/>
                        </g>
                      </svg>
                      <svg id="Component_8_2" data-name="Component 8 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <rect id="Rectangle_12" data-name="Rectangle 12" width="24" height="24" fill="rgba(255,255,255,0)"/>
                        <g id="logo-twitter" transform="translate(4 4.5)">
                          <path id="Path_5" data-name="Path 5" d="M16,3a5.918,5.918,0,0,1-1.9.5,2.827,2.827,0,0,0,1.4-1.8,6.561,6.561,0,0,1-2.1.8,3.492,3.492,0,0,0-2.4-1A3.311,3.311,0,0,0,7.8,4.8a1.483,1.483,0,0,0,.1.7A9.2,9.2,0,0,1,1.1,2.1,3.064,3.064,0,0,0,.7,3.8,3.282,3.282,0,0,0,2.2,6.5,4.191,4.191,0,0,1,.7,6.1h0A3.228,3.228,0,0,0,3.3,9.3a2.769,2.769,0,0,1-.9.1,1.268,1.268,0,0,1-.6-.1,3.24,3.24,0,0,0,3.1,2.3A6.359,6.359,0,0,1,.8,13H0a9.757,9.757,0,0,0,5,1.5,9.256,9.256,0,0,0,9.3-9.3V4.8A5.814,5.814,0,0,0,16,3Z" fill="#212529"/>
                        </g>
                      </svg>
                      <svg id="Component_7_2" data-name="Component 7 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <rect id="Rectangle_11" data-name="Rectangle 11" width="24" height="24" fill="rgba(255,255,255,0)"/>
                        <g id="logo-instagram" transform="translate(4 4)">
                          <circle id="Ellipse_1" data-name="Ellipse 1" cx="0.96" cy="0.96" r="0.96" transform="translate(11.185 2.932)" fill="#212529"/>
                          <path id="Path_6" data-name="Path 6" d="M8,12a4,4,0,1,1,4-4A4,4,0,0,1,8,12ZM8,6a2,2,0,1,0,2,2A2,2,0,0,0,8,6Z" fill="#212529"/>
                          <path id="Path_7" data-name="Path 7" d="M12,16H4a4.214,4.214,0,0,1-4-4V4A4.214,4.214,0,0,1,4,0h8a4.214,4.214,0,0,1,4,4v8A4.214,4.214,0,0,1,12,16ZM4,2A2.265,2.265,0,0,0,2,4v8a2.231,2.231,0,0,0,2,2h8a2.265,2.265,0,0,0,2-2V4a2.265,2.265,0,0,0-2-2Z" fill="#212529"/>
                        </g>
                      </svg>                                                                 
                </div>
            </div>
        </div>
    </section>

    <header class="header">
        <nav>
          <div class="container">
          <!-- nav header -->
          <div class="nav-header">
          <img src="../Content/images/copy_544900648.png" class="logo" alt="logo">
          <h1>FOREDUCATION</h1>
          </div>
          <!-- links -->
          <div class="content">
          <ul class="links">
            <li>
              <a href="Home.html">Home</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="price.html">Price</a>
            </li>
            <li>
              <a href="Courses.html">Courses</a>
            </li>
          </ul>
          <div class="navbar__enter">
              <div class="genaric-btn">
                <a href="#">SignUp</a>
              </div>
              <div class="search">
                <svg id="search" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                  <path id="Path_9" data-name="Path 9" d="M7,14a7,7,0,1,1,7-7A7.008,7.008,0,0,1,7,14ZM7,2a5,5,0,1,0,5,5A5.006,5.006,0,0,0,7,2Z" fill="#212529"/>
                  <path id="Path_10" data-name="Path 10" d="M15.707,14.293,13.314,11.9A8.019,8.019,0,0,1,11.9,13.314l2.393,2.393a1,1,0,1,0,1.414-1.414Z" fill="#212529"/>
                </svg>
              </div>
            </div>
          </div>
          <button class="nav-toggle togg">
              <i class="fas fa-bars"></i>
            </button>
        </div>
      </nav>
    </header>
</section>

    <section class="courses">
        <div class="container">
            <div class="courses__head">
                <div class="courses__head__title">
                    <span>Course category</span>
                    <h1>
                        Web Development
                    </h1>
                </div>
            </div>
            <div class="courses__categories">
                <div class="category">
                    <h3>Categories</h3>
                    <div class="dropDown">
                        <p>Web development</p>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="category">
                    <h3>Level</h3>
                    <div class="dropDown">
                        <p>all levels</p>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="category">
                    <h3>Language</h3>
                    <div class="dropDown">
                        <p>English</p>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
                <div class="category">
                    <h3>Instructor</h3>
                    <div class="dropDown">
                        <p>all instructor</p>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </div>
        
            <div class="content-courses">
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/ux-designer-web-designer.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Buddhism and Modern Psychology</h4>
                <p>The Museum of Modern Art</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/why-ux-design-is-important-840x400.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Buddhism and Modern Psychology</h4>
                <p>The Museum of Modern Art</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Introduction to Philosophy</h4>
                <p>Duke University</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Introduction to Philosophy</h4>
                <p>Duke University</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Introduction to Philosophy</h4>
                <p>Duke University</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Introduction to Philosophy</h4>
                <p>Duke University</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Introduction to Philosophy</h4>
                <p>Duke University</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Introduction to Philosophy</h4>
                <p>Duke University</p>
              </div>
              <div class="card-format">
                <div class="img__card">
                  <img src="../Content/images/difference-between-ux-ui-ux-ui-min-6cd3a171087987d31ecdb67ad67c0ab8136242f7b4e476a0e509017aa8bbc755.jpg" alt="">
                  <div class="cont-img">
                    <img src="../Content/images/ACM15324_Coursera_SquareLogo_0112_SF.jpg" alt="">
                  </div>
                </div>
                <h4>Introduction to Philosophy</h4>
                <p>Duke University</p>
              </div>
            </div>
        </div>
    </section>





      <footer class="footer">
        <div class="container">
          <div class="top-footer">
          <div class="conact">
            <div class="head">
              <img src="../Content/images/copy_544900648.png" alt="">
              <h1>for education</h1>
            </div>
            <div class="media">
              <i class="fas fa-envelope envelope"></i>
              <p>vctung@outlook.com</p>
            </div>
            <div class="media">
              <i class="fas fa-phone"></i>
              <p>1-800-800-2299 (Support)</p>
            </div>
            <div class="media">
              <i class="fas fa-map-marker-alt"></i>
              <p>1500 Treat Ave, Suite 200
                San Francisco, CA 94110</p>
            </div>
  
          </div>
          <div class="topics">
            <div class="topic">
              <h2>Community</h2>
              <ul>
                <li>
                  <a href="#">Learners</a> 
                </li>
                <li>
                  <a href="#">Partners</a> 
                </li>
                <li>
                  <a href="#">Developers</a> 
                </li>
                <li>
                  <a href="#">Beta Testers</a> 
                </li>
                <li>
                  <a href="#">Translators</a> 
                </li>
                <li>
                  <a href="#">Blog</a> 
                </li>
                <li>
                  <a href="#">Tech Blog</a> 
                </li>
                <li>
                  <a href="#">Teaching Center</a> 
                </li>
              </ul>
            </div>
            <div class="topic">
              <h2>Informations</h2>
              <ul>
                <li>
                  <a href="#">About</a> 
                </li>
                <li>
                  <a href="#">Pricing</a> 
                </li>
                <li>
                  <a href="#">Blog</a> 
                </li>
                <li>
                  <a href="#">Careers</a> 
                </li>
                <li>
                  <a href="#">Contact</a> 
                </li>
              </ul>
            </div>
            <div class="topic more">
              <h2>More</h2>
              <ul>
                <li>
                  <a href="#">Press</a> 
                </li>
                <li>
                  <a href="#">Investors</a> 
                </li>
                <li>
                  <a href="#">Terms</a> 
                </li>
                <li>
                  <a href="#">Privacy</a> 
                </li>
                <li>
                  <a href="#">Help</a> 
                </li>
                <li>
                  <a href="#">Accessibility</a> 
                </li>
                <li>
                  <a href="#">Contact</a> 
                </li>
                <li>
                  <a href="#">Articles</a> 
                </li>
                <li>
                  <a href="#">Directory</a> 
                </li>
                <li>
                  <a href="#">Affiliates</a> 
                </li>
              </ul>
            </div>
          </div>
        </div>
          <div class="bottom-footer">
            <p>Copyright © 2021 Tung Chi Vo</p>
            <div class="social">
              <svg id="Component_5_2" data-name="Component 5 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <rect id="Rectangle_6" data-name="Rectangle 6" width="24" height="24" fill="rgba(255,255,255,0)"/>
                  <g id="logo-fb-simple" transform="translate(4 4)">
                    <path id="Path_4" data-name="Path 4" d="M6.023,16,6,9H3V6H6V4c0-2.7,1.672-4,4.079-4a22.346,22.346,0,0,1,2.434.124V2.945h-1.67c-1.31,0-1.563.622-1.563,1.535V6H13L12,9H9.28v7Z" fill="#212529"/>
                  </g>
                </svg>
                <svg id="Component_6_2" data-name="Component 6 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <rect id="Rectangle_10" data-name="Rectangle 10" width="24" height="24" fill="rgba(255,255,255,0)"/>
                  <g id="logo-pinterest" transform="translate(4 4)">
                    <path id="Path_8" data-name="Path 8" d="M8,0A8.024,8.024,0,0,0,0,8a7.838,7.838,0,0,0,5.1,7.4,8.845,8.845,0,0,1,0-2.3c.1-.6.9-4,.9-4A2.653,2.653,0,0,1,5.8,8c0-1.1.7-2,1.5-2a.972.972,0,0,1,1,1.1,11.98,11.98,0,0,1-.7,2.7,1.125,1.125,0,0,0,1.2,1.4c1.4,0,2.5-1.5,2.5-3.7A3.206,3.206,0,0,0,8,4.2,3.44,3.44,0,0,0,4.4,7.7,3.216,3.216,0,0,0,5,9.5v.4a5.073,5.073,0,0,0-.2.9c0,.1-.1.2-.3.1A3.577,3.577,0,0,1,2.9,7.8C2.9,5.3,4.7,3,8.2,3a4.662,4.662,0,0,1,4.9,4.6c0,2.8-1.7,5-4.2,5a2,2,0,0,1-1.8-.9s-.4,1.5-.5,1.9a10.243,10.243,0,0,1-1,2.1A9.863,9.863,0,0,0,8,16,8,8,0,0,0,8,0Z" fill="#212529"/>
                  </g>
                </svg>
                <svg id="Component_8_2" data-name="Component 8 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <rect id="Rectangle_12" data-name="Rectangle 12" width="24" height="24" fill="rgba(255,255,255,0)"/>
                  <g id="logo-twitter" transform="translate(4 4.5)">
                    <path id="Path_5" data-name="Path 5" d="M16,3a5.918,5.918,0,0,1-1.9.5,2.827,2.827,0,0,0,1.4-1.8,6.561,6.561,0,0,1-2.1.8,3.492,3.492,0,0,0-2.4-1A3.311,3.311,0,0,0,7.8,4.8a1.483,1.483,0,0,0,.1.7A9.2,9.2,0,0,1,1.1,2.1,3.064,3.064,0,0,0,.7,3.8,3.282,3.282,0,0,0,2.2,6.5,4.191,4.191,0,0,1,.7,6.1h0A3.228,3.228,0,0,0,3.3,9.3a2.769,2.769,0,0,1-.9.1,1.268,1.268,0,0,1-.6-.1,3.24,3.24,0,0,0,3.1,2.3A6.359,6.359,0,0,1,.8,13H0a9.757,9.757,0,0,0,5,1.5,9.256,9.256,0,0,0,9.3-9.3V4.8A5.814,5.814,0,0,0,16,3Z" fill="#212529"/>
                  </g>
                </svg>
                <svg id="Component_7_2" data-name="Component 7 – 2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <rect id="Rectangle_11" data-name="Rectangle 11" width="24" height="24" fill="rgba(255,255,255,0)"/>
                  <g id="logo-instagram" transform="translate(4 4)">
                    <circle id="Ellipse_1" data-name="Ellipse 1" cx="0.96" cy="0.96" r="0.96" transform="translate(11.185 2.932)" fill="#212529"/>
                    <path id="Path_6" data-name="Path 6" d="M8,12a4,4,0,1,1,4-4A4,4,0,0,1,8,12ZM8,6a2,2,0,1,0,2,2A2,2,0,0,0,8,6Z" fill="#212529"/>
                    <path id="Path_7" data-name="Path 7" d="M12,16H4a4.214,4.214,0,0,1-4-4V4A4.214,4.214,0,0,1,4,0h8a4.214,4.214,0,0,1,4,4v8A4.214,4.214,0,0,1,12,16ZM4,2A2.265,2.265,0,0,0,2,4v8a2.231,2.231,0,0,0,2,2h8a2.265,2.265,0,0,0,2-2V4a2.265,2.265,0,0,0-2-2Z" fill="#212529"/>
                  </g>
                </svg>                                                                 
          </div>
  
          </div>
        </div>
      </footer>
    <script src="../Content/js/app.js"></script>
    <script src="../Content/js/all.min.js"></script>
    <script src="../Content/js/bootstrap.bundle.min.js"></script>
</body>
</html>